a:link {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(136, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}